body {
    background-color: #84bbd1;
}

* {
    margin: 5;
    padding: 10;
    box-sizing: border-box;
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 1%;
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    color: rgb(15, 16, 19);
}

.texto {
    font-size: 18px;
    color: rgb(11, 12, 14);
    margin-top: 1%;
}

.dato {
    padding: 8px;
    margin: auto;
    margin-top: 1%;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: rgb(11, 12, 14);
}

.bottom {
    background: #BBA9BB;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    margin-top: 0rem;
    padding: .1rem;
	margin: .1rem 0;
    width: 30%;
    margin-left: 150px;
    height: 30px;
}